# Python
__pycache__
.mypy_cache
venv

# Archive
**.tar
**.zip
**.gz
**.gz2

# Media
**.kra
**.png
**.jpg
**.jpeg
**.web*
**.mkv
**.mp4
**.mp3
**.mpa
**.wav
**.ogg
**.opus
**.flac
**.alac

# LaTeX
**.out
**.toc
**.toc
**.aux

# Classical ignore
**.log
**.pdf
**.tmp

# C/C++
**.cxx
**.so
**.o

ai/libai.py

# VSCode
.vscode
